
<header class="clearfix md-whiteframe-z1">

  <div class="top-nav" >

  <img src="dist/images/logo-itau.png" class="btn">

  <ul class="nav-button pull-right list-unstyled">

      <li class="dropdown text-small nav-profile">
        <a md-ink-ripple="#bbb" href="javascript:;" class="dropdown-toggle text-muted" data-toggle="dropdown" aria-expanded="false">
          <span class="nav-profile__welcome-text"><i class="fa fa-angle-down"></i>&nbsp; Welcome My Future Boss!! &nbsp; </span><img src="dist/images/logo-itau.png" alt="" class="img30_30">
        </a>

      </li>

    </ul>


  </div>

</header>
